@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './profile/micromodal.css';

.btn-social {
    padding: .6rem;
    font-size: 130%;
    border: 1px solid transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: .2rem;
    color: white;
}
.btn-social:nth-child(1) {
    margin-left: 0;
}

.btn-social.btn-facebook {
    background-color: #4267B2;
}
.btn-social.btn-tiktok {
    background-color: black;
    color: #25F4EE;
}
.btn-social.btn-instagram {
    background-color: #C13584;
    color: #FCAF45;
}
.btn-social.btn-twitter {
    background-color: #1DA1F2;
}
.btn-social.btn-youtube {
    background-color: #c72c17;
}
.btn-social.btn-linkedin {
    background-color: #1755c7;
}
.btn-social.btn-twitch {
    background-color: #5a17c7;
}

.action {
    border: 1px solid;
}